html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville';
    text-align: center;
    

}

body {
    height: 100vh;
    width: 100%;
    background: #dadbff;
}

    


.nav-link:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
    color: #240747;
  }
  .nav-link{
    text-align: center;
    height: 50px;
    width: 125px;
    background: #dadbff;
    border-radius: 25px;
    margin: 15px;
    transition: all ease 0.2s;
    border: 2px solid #240747;
    color:bisque;
    font-weight: 500;
    font-size: 18px;
  
  }


.navbar{
    justify-content: center;
    align-items: center;
    
    
}
  
  .size{
    border-radius: 50%;
    width: 300px;
    height: 400px;
    border: #240747 solid 2px;
  }

  .car{
    background: #dadbff;
    border: none;

  }
 .btncv{
    background-color: #dadbff;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    border: #240747 solid 2px;
    height: 50px;
    text-decoration: none;
  
 }
 .btncv:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0,255,255,0.7);
    color: #0d011b;

 }
 .ct{
  border: #0d011b solid;
  justify-content: center;
  text-align: center;
 }
 .table{
  text-align: justify;
  font-size: large;
 }
 .t{
  text-align: justify;
  min-width: 400px;
  min-height: 60px;
 }

 .j{
  text-align: center;
 }
 .tln{
  text-align: justify;
 }
 a{
  text-decoration: none;
 }
.ntr{
  text-align: center;
  
}
