body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(7, 7, 46);
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}



.content {
    padding: 0px;
    background-color: aliceblue;
}




.col {
    background-color: bisque;
}

#pimg {
    border-radius: 50%;
}

#logo {
    height: 40px;
    border-radius: 50%;
}

footer {
    color: silver;
}

h1 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

a {
    text-decoration: none;
}

nav {
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.typetext {
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.skill {
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


form {
    font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}

strong {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.nav-link:hover {
    font-size: large;
    background-color: rgb(243, 246, 252);
    border-radius: 6%;

}

.btnc {
    background-color: rgb(7, 7, 46);
    color: snow;
}